body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.navbar {
  background: #222;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a,
.navbar button {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.form-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.small {
  color: gray;
}